@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem auto 2rem auto;
}

body {
  background-color: rgb(211, 211, 211);
  margin: 0.5rem 2rem 0.5rem 2rem;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 5.5rem;
  width: 5.5rem;
}

h1,
h3,
h4,
h2,
h6,
h5 {
  display: inline-block;
}

#balance {
  display: flex;
  justify-content: space-between;
}

.login-input {
  border-radius: 50rem;
  height: 2rem;
  width: 6rem;
  font-size: 20px;
  text-align: center;
  border: none;
  resize: none;
  transition: all 0.5s;
  font-family: inherit;
}

textarea:focus {
  outline: none;
}

#login {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: rgb(211, 211, 211);
  transition: all 0.5s;
  outline: none;
}

#login:active {
  outline: none;
  transform: translate(5px);
}

#login-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#login-details > * {
  margin: 0px 3px 0px 3px;
}

#synopsis {
  align-items: center;
}

.amount {
  margin-right: 2rem;
}

.credit {
  color: green;
}

.debit {
  color: red;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 2rem auto 2rem auto;
}

#current {
  display: flex;
  flex-direction: column;
}

#transactions {
  width: 50%;
  border-radius: 0.5rem 0rem 0rem 0rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 60vh;
}

.transaction {
  align-items: center;
  padding: 1rem;
  border-style: none none groove none;
}

.transact-amount {
  float: right;
}

#main-panel {
  margin: 2rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: row;
}

#features {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60vh;
}

.feature {
  height: 33.3%;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#transfer {
  background-color: #ede576;
  padding: 1.5rem;
}

#request {
  background-color: #ec4c4c;
  padding: 1.5rem;
}

#close {
  background-color: green;
  padding: 1.5rem;
}

#features > * {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.transaction > * {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.deposit,
.withdrawal {
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.deposit {
  background-color: green;
}

.withdrawal {
  background-color: red;
}

.feature-heading {
  display: block;
}

.feature-input-field {
  border-radius: 50rem;
  height: 1.5rem;
  width: 30%;
  font-size: 15px;
  text-align: center;
  border: none;
  resize: none;
  transition: all 0.5s;
  font-family: inherit;
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}

.feature-input {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  padding-top: 0.5rem;
}
